[submodule "src/ext/assimp"]
	path = src/ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/ext/glew"]
	path = src/ext/glew
	url = https://github.com/Perlmint/glew-cmake.git
	branch = glew-cmake-release
[submodule "src/ext/glfw"]
	path = src/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/ext/pybind11"]
	path = src/ext/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "src/ext/eigen"]
	path = src/ext/eigen
	url = https://github.com/cuteday/Eigen.git
[submodule "src/ext/pbrtparser"]
	path = src/ext/pbrtparser
	url = https://github.com/ingowald/pbrt-parser.git
